version: '3.8'

services:
  ollama:
    image: ollama/ollama:3.2
    container_name: ollama
    ports:
      - "11434:11434"           
    command: serve              

  app:
    build:
      context: .             
    container_name: fealtyx
    ports:
      - "8000:8000"              
    depends_on:
      - ollama             
    environment:
      - OLLAMA_URL=http://ollama:11434 
